body{ 
    background-color: dimgray;
    text-align: left;
    font-style: italic;
}

h1{
    background-color: darkred;
    font-style: italic;
    }

h2 {
    color: darkred; 
    font-style: italic;
}
p{
    color: white;
}