body{
 background-color: gainsboro;
 text-align: left;
}
h1 {
    font-style: italic;
    color: black;
}
h3 {
    font-style: italic;
    color: darkred;
}
.lista {
    text-align: left;
    background-color: darkred;
    border-left: darkred ;
    color: darkred;
    padding: 20px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 6px;
}